{% extends 'baseFull.html.twig' %}

{% block body %}
    <h1>{% trans %}sitebundle.pagenotfound{% endtrans %}</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    {% endif %}

    <p style="margin: auto;padding: 100px;font-size: 2em;">
        {% trans %}sitebundle.error.404{% endtrans %}

        <a href="{{ path('site_homepage') }}">
            {% trans %}sitebundle.returntohomepage{% endtrans %}
        </a>.
    </p>
{% endblock %}