{% extends 'baseFull.html.twig' %}

{% block body %}


    <div class="card">
        <div class="card-header">
            {% trans %}sitebundle.error.403{% endtrans %}
        </div>


        <div class="card-block">
            <div  class="card-text">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                {% endif %}

                <p style="margin: auto;padding: 100px;font-size: 2em;">
                    {% trans %}sitebundle.error.403{% endtrans %}


                    <a role="button" class="btn btn-secondary" href="{{ path('site_homepage') }}">
                        {% trans %}sitebundle.returntohomepage{% endtrans %}
                    </a>
                    <a role="button" class="btn btn-secondary" href="{{ path('site_contact') }}">
                        {% trans %}sitebundle.contactus{% endtrans %}
                    </a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}