app/config/parameters.yml
app/config/parameters.yml.safe
src/LilWorks/StoreBundle/Resources/config/parameters/syncro.yml
src/LilWorks/StoreBundle/Resources/config/config.yml
build/
phpunit.xml
var/*
/var/cache
var/cache/*
!var/cache/.gitkeep
!/var/logs
var/logs/*
!var/logs/.gitkeep
!/var/sessions
var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
vendor/
web/bundles/
web/media/cache
web/annonce
web/ajaxupload
web/brand
web/category
web/docfile
web/paymentmethod
web/product
web/shippingmethod
web/supercategory

