{% extends 'baseFull.html.twig' %}
{% block body %}

    <div class="card">
        <div class="card-header">
            <i class="fa fa-gears" aria-hidden="true"></i>
            {{ 'sitebundle.menu.usercustomer'|trans }}
        </div>
        <div class="card-block">
            <div class="card-text">
                {{ knp_menu_render('usercustomer',{depth: 1, 'template': 'Menu/userCustomerMenu.html.twig'}  ) }}
            </div>
        </div>
    </div>

    {% block customer %}
    {% endblock %}
{% endblock %}