{% include 'site-header.html.twig' %}

<!-- Page Content -->
<div class="container">
    <div class="row" id="content">
        <div style="position: absolute; z-index: 99;right: 10px; width: 300px;">
            {{ site_flash.getMessages|raw }}
        </div>
        {% block body %}
        {% endblock %}
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% include 'site-footer.html.twig' %}
