{% include 'site-header.html.twig' %}

<!-- Page Content -->
<div class="container">
    <div class="row" id="content">
        <div class="col-lg-12">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% include 'site-footer.html.twig' %}