{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {{ 'storebundle.orderstep.edit %name%'|trans({'%name%':orderStep.name}) }}
    </h1>


    <div class="row">
        <div class="row-sm-10 offset-2">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" class="btn btn-primary" value="{% trans %}edit{% endtrans %}" />
            {{ form_end(edit_form) }}
        </div>
    </div>

{% endblock %}
