{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}storebundle.orderstep.index{% endtrans %}
    </h1>




    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans %}storebundle.action{% endtrans %}</th>
                <th>{% trans %}storebundle.orders{% endtrans %}</th>
                <th>{% trans %}store.name{% endtrans %}</th>
                <th>{% trans %}store.tag{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% set entityName = 'LilWorksStoreBundle:OrderStep' %}
        {% for orderStep in pagination %}

            <tr>

                <td>{{ orderStep.ordersOrderSteps|length  }}</td>



                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\OrderStep\\NameType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'name',orderStep)|raw }}
                </td>
                <td>
                    {{ orderStep.tag }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
