{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}storebundle.orderstep.new{% endtrans %}
    </h1>


    <div class="row">
        <div class="row-sm-10 offset-2">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn  btn-primary" value="{% trans %}create{% endtrans %}" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
