{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {{ 'storebundle.orderstep.show %name%'|trans({'%name%':orderStep.name}) }}
    </h1>


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{% trans %}storebundle.id{% endtrans %}</th>
                <td>#{{ orderStep.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.name{% endtrans %}</th>
                <td>{{ orderStep.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.description{% endtrans %}</th>
                <td>{{ orderStep.description|raw }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
