{% extends 'base.html.twig' %}
{% block body %}
    <h1>
        {% trans %}storebundle.product.cleantag{% endtrans %}
    </h1>
    <div class="alert alert-success" role="alert">
        {% trans %}storebundle.product.cleantag.done{% endtrans %}
    </div>
{% endblock %}
