{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}lilworks.storebundle.product.cleanpicturefolder{% endtrans %}
    </h1>




    {% for k,removedFiles in done %}
        <h2>{{ k }}</h2>
        <ul>
        {% transchoice removedFiles|length %}
        {0} no file removed|{1} one file removed|]1,Inf[ %count% files removed
        {% endtranschoice %}
            {% for removedFile in removedFiles %}
                <li><i class="fa fa-times" aria-hidden="true"></i>
                     {% trans %}lilworks.storebundle.clean.removefile{% endtrans %} {{ removedFile }}</li>
            {% endfor %}
        </ul>

    {% endfor %}


{% endblock %}
