{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        {% trans %}storebundle.product.syncro{% endtrans %}
    </h1>

    <div class="alert alert-danger" role="alert">
        {% trans %}storebundle.product.syncro.disconected{% endtrans %}
    </div>
{% endblock %}
