/**/

@import '~bootstrap/dist/css/bootstrap.css';
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-size: 12px;
  font-family:  "Trebuchet MS";

}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
  display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}


.serialNumber{
  font-weight: 300;
  font-size: .8em;
  font-style: italic;
}

.sidebar ul,li{
  list-style: none;
  margin: 0;
  margin-left: 5px;
  padding: 0;
}


.values-overwrited{color: darkred;}
.values-default{color:darkblue;}

select.form-control {
  -webkit-appearance: menulist;
}
div.mce-fullscreen {
  z-index: 1050;
}
.current {
  display: none;
}

.shippingMethodPrice-overwrited{color: darkred;}
.shippingMethodPrice-default{color:darkblue;}
.shippingMethodFreeTrigger-overwrited{color: darkred;}
.shippingMethodFreeTrigger-default{color:darkblue;}


#quickCalculator{
  font-weight: bold;
  font-size: 16px;
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  background-color: #CCC;
}