
.shippingMethodPrice-overwrited{color: darkred;}
.shippingMethodPrice-default{color:darkblue;}
.shippingMethodFreeTrigger-overwrited{color: darkred;}
.shippingMethodFreeTrigger-default{color:darkblue;}