<div id="carousel-container-home">
    <div class="carousel-home">
        {% for annonce in annonces %}
            <div>
                <a href="{% if annonce.link %}{{ annonce.link }}{% else %}#{% endif %}">
                    <img class="carousel-img-home" src="{{ asset('annonce/'~annonce.pictureName ) | imagine_filter('annonce') }}" alt="{{ annonce.name }}" />
                </a>
            </div>
        {% endfor %}
    </div>
</div>
