
            <h5>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                {% trans %}baskets small{% endtrans %}
                <span class="badge badge-default">
                {% transchoice  basket.basketsProducts|length %}
                    {0} basket empty|{1} one product|]1,Inf[ %count% products
                    {% endtranschoice %}
                </span>
            </h5>
            {% if basket.basketsProducts|length > 0 %}
            <a href="{{ path('site_basket_edit') }}" class="btn btn-primary btn-sm">
                <i class="fa fa-edit"></i> {% trans %}edit{% endtrans %}
            </a>
            {% endif %}
