#carousel-container-home{
    padding: 0;
    margin: 14px;
    border-radius: 8px;
    background-color: #ffffff;
    align-content: center;
    text-align: center;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}
.carousel-img-home{
    with: 100%;
    margin: auto;
}